@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,600;0,900;1,400;1,600;1,900&family=Jost:wght@100;400;900&display=swap");
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0c0728;
}

nav .logo {
  text-decoration: none;
  color: #0c0728;
  font-size: 1.5rem;
  margin: 1rem 2rem;
}

nav .hamburger {
  height: 25px;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  margin: 1rem 2rem;
  z-index: 10;
}

nav .hamburger:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes rotate1 {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@keyframes rotate1 {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@keyframes rotate2 {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

nav .hamburger .bar {
  width: 25px;
  height: 2px;
  background-color: #0c0728;
  border-radius: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
}

nav .hamburger .bar::after, nav .hamburger .bar::before {
  content: " ";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #0c0728;
  border-radius: 20px;
}

nav .hamburger .bar::before {
  top: 8px;
  -webkit-animation: rotate1 0.7s ease-in-out;
          animation: rotate1 0.7s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

nav .hamburger .bar::after {
  bottom: 8px;
  -webkit-animation: rotate2 0.7s ease-in-out;
          animation: rotate2 0.7s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

nav .hamburger .toggled {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .hamburger .toggled::before {
  top: 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: rotate1 0.5s ease-in-out;
          animation: rotate1 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav .hamburger .toggled::after {
  bottom: 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-animation: rotate2 0.5s ease-in-out;
          animation: rotate2 0.5s ease-in-out;
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 1rem;
}

@-webkit-keyframes slideIn {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 40%;
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 40%;
    opacity: 1;
  }
}

nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  gap: 2rem;
  position: absolute;
  overflow: hidden;
  right: 0;
  height: 100vh;
  width: 0;
  background-color: #fff8f8;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-animation: slideIn 0.5s ease-in-out backwards;
          animation: slideIn 0.5s ease-in-out backwards;
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

nav .navbar li {
  list-style: none;
  text-align: center;
}

nav .navbar li a {
  text-decoration: none;
  color: #0c0728;
  position: relative;
}

nav .navbar li a:hover::before {
  width: 100%;
}

nav .navbar li a::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 1.5rem;
  width: 0;
  height: 2px;
  background: #0c0728;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

nav .show-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  -webkit-animation: slideIn 0.6s ease-in-out forwards;
          animation: slideIn 0.6s ease-in-out forwards;
}

@-webkit-keyframes ticker {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes ticker {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.ticker-container {
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  border-top: 2px solid #0c0728;
  border-bottom: 2px solid #0c0728;
}

.ticker-container .ticker {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  position: relative;
  -webkit-animation: ticker 15s linear infinite both;
          animation: ticker 15s linear infinite both;
}

.ticker-container .ticker-item, .ticker-container .ticker-item1 {
  display: inline-block;
  padding: 0.2rem;
  font-size: 0.8rem;
  color: #0c0728;
}

.ticker-container .ticker-item1 {
  width: 50%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #fff8f8;
  background-size: 200px 200px;
  background-position: center;
  font-family: "Jost", sans-serif;
}

/* The Loader */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff8f8;
}

.no-js #loader-wrapper {
  display: none;
}

img {
  background-size: auto;
  height: 30%;
  width: auto;
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222;
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

.preload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  font-size: 3rem;
  color: #0c0728;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-delay: 17s;
          transition-delay: 17s;
  -webkit-transition: 2s font-variation-settings ease-in;
  transition: 2s font-variation-settings ease-in;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  background-color: #fff8f8;
}

.preload .x {
  font-family: "Bodoni Moda", serif;
  font-style: italic;
  font-display: swap;
}

.preload .possible {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: italic;
  text-transform: capitalize;
}

main {
  min-height: 100vh;
  font-family: "Jost", sans-serif;
}

main section {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Bodoni Moda", serif;
}

main #home {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 2rem;
}

main #home h1 {
  padding-bottom: 4rem;
}

main #team .team-intro {
  min-height: 100vh;
  width: 100%;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #0c0728;
  color: #fff8f8;
}

main #team .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #team .profile .pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #f2eeee;
}
/*# sourceMappingURL=style.css.map */