@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,600;0,900;1,400;1,600;1,900&family=Jost:wght@100;400;900&display=swap");
@font-face {
  font-family: "New Xpossible Font";
  src: url("../src/fonts/NewXpossibleFontRegular.eot");
  src: url("../src/fonts/NewXpossibleFontRegular.eot?#iefix") format("embedded-opentype"), url("../src/fonts/NewXpossibleFontRegular.woff2") format("woff2"), url("../src/fonts/NewXpossibleFontRegular.woff") format("woff"), url("../src/fonts/NewXpossibleFontRegular.ttf") format("truetype"), url("../src/fonts/NewXpossibleFontRegular.svg#NewXpossibleFontRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#home {
  position: fixed;
  min-height: 100vh;
  width: 100%;
}

#home .manifesto {
  position: absolute;
  bottom: 7%;
  width: 100%;
}

#home .manifesto h1 {
  font-family: "New Xpossible Font", sans-serif;
  margin: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}

#home .manifesto h1 span {
  display: block;
}

#home .manifesto hr {
  height: 2px;
  width: 100%;
  color: #0c0728;
  background-color: #0c0728;
}

@media (min-width: 768px) {
  #home .manifesto h1 {
    font-size: 5rem;
  }
}

@media (min-width: 1200px) {
  #home .manifesto h1 {
    font-size: 6rem;
  }
}

#showcase {
  padding-top: 130vh;
}

#showcase .project-wrapper {
  position: relative;
  top: 0;
  min-height: 300vh;
  color: #0c0728;
}

#showcase .project-wrapper .block-grid {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  height: 100vh;
  width: 100vw;
}

#showcase .project-wrapper .block-grid .left-block {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  width: 60%;
  height: 100%;
  border-right: 2px solid #0c0728;
}

#showcase .project-wrapper .block-grid .title-box {
  background-color: rgba(255, 192, 203, 0.742);
  border-bottom: 2px solid #0c0728;
  width: 40%;
  height: 30vh;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
}

@media (min-width: 768px) {
  #showcase .project-wrapper .block-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#showcase .project-wrapper .pic {
  position: absolute;
  width: 100%;
  height: 300vh;
  top: 0%;
  z-index: -1;
}

@media (min-width: 768px) {
  #showcase .project-wrapper .pic {
    padding-top: 10vh;
    width: 60%;
  }
}

#showcase .project-wrapper .pic .project {
  height: 70vh;
  margin: 0 0 30vh 0;
  background-position: 90%;
  background-size: cover;
}

#showcase .project-wrapper .pic .one {
  background-image: url(../src/image/book-cover/nos-amours-radicales.jpg);
}

#showcase .project-wrapper .pic .two {
  background-image: url(../src/image/magazing/image-ins1.jpg);
}

#showcase .project-wrapper .pic .three {
  background-image: url(../src/image/graphic-chart/charte-graphic_orange.jpg);
}

#showcase .project-wrapper .descriptions {
  position: absolute;
  top: 0;
  padding-top: 100vh;
  width: 100%;
  height: 300vh;
}

#showcase .project-wrapper .descriptions .description-wrapper {
  margin: 0 0 100vh 0;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#showcase .project-wrapper .descriptions .description-wrapper .title-wrapper {
  padding: 1rem;
  text-transform: capitalize;
  background-color: rgba(255, 192, 203, 0.742);
}

#showcase .project-wrapper .descriptions .description-wrapper .title-wrapper .title {
  font-size: 1.5rem;
}

#showcase .project-wrapper .descriptions .description-wrapper .description {
  padding: 1rem;
}

#showcase .project-wrapper .descriptions .description-wrapper .description .read-more {
  display: block;
  color: #0c0728;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 0;
}

@media (min-width: 768px) {
  #showcase .project-wrapper .descriptions {
    width: 40%;
    right: 0;
    padding-top: 30vh;
  }
  #showcase .project-wrapper .descriptions .description-wrapper {
    margin: 0 0 74vh 0;
    height: 70vh;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #showcase .project-wrapper .descriptions .description-wrapper .title-wrapper {
    background-color: transparent;
  }
}

.sticky {
  position: fixed;
  top: 0%;
  width: 100%;
  background-color: #fff8f8;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  z-index: 10;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

.sticky--scrolled {
  height: 40px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  color: #0c0728;
  margin: 1rem;
}

nav .logo img {
  height: 15px;
}

nav .hamburger {
  height: 25px;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  margin: 1rem;
  z-index: 10;
}

nav .hamburger:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes rotate1 {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@keyframes rotate1 {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@keyframes rotate2 {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

nav .hamburger .bar {
  width: 25px;
  height: 2px;
  background-color: #0c0728;
  border-radius: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
}

nav .hamburger .bar::after, nav .hamburger .bar::before {
  content: " ";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #0c0728;
  border-radius: 20px;
}

nav .hamburger .bar::before {
  top: 8px;
  -webkit-animation: rotate1 0.7s ease-in-out;
          animation: rotate1 0.7s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

nav .hamburger .bar::after {
  bottom: 8px;
  -webkit-animation: rotate2 0.7s ease-in-out;
          animation: rotate2 0.7s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

nav .hamburger .toggled {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .hamburger .toggled::before {
  top: 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: rotate1 0.5s ease-in-out;
          animation: rotate1 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav .hamburger .toggled::after {
  bottom: 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-animation: rotate2 0.5s ease-in-out;
          animation: rotate2 0.5s ease-in-out;
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 1rem;
}

@-webkit-keyframes slideIn {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 40%;
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 40%;
    opacity: 1;
  }
}

nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  gap: 2rem;
  position: absolute;
  overflow: hidden;
  right: 0;
  height: 100vh;
  width: 0;
  background-color: #fff8f8;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-animation: slideIn 0.5s ease-in-out;
          animation: slideIn 0.5s ease-in-out;
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

nav .navbar li {
  list-style: none;
  text-align: center;
  height: 1.7rem;
  overflow: hidden;
}

nav .navbar li a {
  text-decoration: none;
  color: #0c0728;
  position: relative;
}

nav .navbar li a:hover::before {
  width: 100%;
}

nav .navbar li a::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 1.5rem;
  width: 0;
  height: 2px;
  background: #0c0728;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav .show-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  -webkit-animation: slideIn 0.6s ease-in-out;
          animation: slideIn 0.6s ease-in-out;
}

.ticker-wrapper {
  position: fixed;
  width: 100vw;
  height: 2.5rem;
  left: 50%;
  /*   top:40%; */
  border-top: 1px solid #0c0728;
  border-bottom: 1px solid #0c0728;
  background: #fff8f8;
  overflow: hidden;
}

.ticker-wrapper .box {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #fff8f8;
  line-height: 2.5rem;
  text-align: center;
}

.ticker-wrapper .boxes {
  position: relative;
  left: -50vw;
}

#team .team-intro {
  min-height: 100vh;
  min-width: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  background-color: #0c0728;
  color: #fff8f8;
}

#team .profile {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

#team .profile .pic {
  margin: 2rem 0;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #f2eeee;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #fff8f8;
  background-size: 200px 200px;
  background-position: center;
  font-family: "Jost", sans-serif;
}

/* The Loader */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff8f8;
}

.no-js #loader-wrapper {
  display: none;
}

img {
  background-size: auto;
  height: 30%;
  width: auto;
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222;
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

.preload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  font-size: 3rem;
  color: #0c0728;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-delay: 17s;
          transition-delay: 17s;
  -webkit-transition: 2s font-variation-settings ease-in;
  transition: 2s font-variation-settings ease-in;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  background-color: #fff8f8;
}

.preload .x {
  font-family: "Bodoni Moda", serif;
  font-style: italic;
}

.preload .possible {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: italic;
  text-transform: capitalize;
}

main {
  max-height: 100vh;
  font-family: "Jost", sans-serif;
}
/*# sourceMappingURL=style.css.map */